{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "kiana-demand-loading",
      {
        "library": "kiana-js"
      }
    ],
    "transform-runtime",
    "external-helpers"
  ]
}
