@charset "utf-8";
/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body,
html {
  font-family: "Microsoft Yahei", "微软雅黑";
}
.container {
  width: 800px;
  height: 300px;
  background-color: #EDDDDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container #div1 {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  left: 0px;
}
.container #div2 {
  width: 100px;
  height: 100px;
  background: yellow;
  position: absolute;
  left: 100px;
}
.container #div3 {
  width: 100px;
  height: 100px;
  background: blue;
  position: absolute;
  left: 200px;
}
.container #div4 {
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  left: 300px;
}
.poplayer {
  width: 800px;
  height: 40px;
  background-color: #EAEAEA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 100px;
  color: #fff;
}
.poplayer .pop-out-btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #08D9D6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.poplayer .pop-out-btn:hover {
  background-color: #FF2E63;
}
.out-layer {
  background-color: #E6F8F6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 123456;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.out-layer .out-head {
  height: 30px;
  line-height: 30px;
  background: #03414D;
  color: #A0F6D2;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.out-layer .out-title {
  height: 30px;
  padding-left: 5px;
  text-align: center;
  float: left;
  display: inline;
  font-size: 14px;
}
.out-layer .out-close {
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  float: right;
  display: inline;
}
#mark {
  background: black;
  fitler: alpha(opacity=50);
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.tabmenu {
  width: 800px;
  height: 400px;
  margin-top: 100px;
  background-color: #EAEAEA;
}
.tabmenu .tab-con {
  width: 400px;
  height: 200px;
  background-color: #08D9D6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tabmenu .tab-btn {
  width: 100px;
  height: 35px;
  background: #FF2E63;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.multiselect {
  width: 500px;
  height: 500px;
  background-color: #EAEAEA;
  margin-top: 20px;
}
.multiselect .select-con {
  width: 500px;
  height: 500px;
}
.multiselect .sel-left-con,
.multiselect .sel-right-con {
  height: 500px;
  width: 200px;
  background-color: #FFDE7D;
  float: left;
  display: inline;
}
.multiselect .select-btn-con {
  width: 100px;
  height: 500px;
  text-align: center;
  float: left;
  display: inline;
}
.multiselect .select-btn-con .select-btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #3FC1C9;
  color: #F5F5F5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.multiselect .select-li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #666;
  text-indent: 10px;
  cursor: pointer;
}
.multiselect .select-li:hover {
  background: #3EC1D3;
  color: #fff;
}
.select-active {
  background: #AC4C5E !important;
  color: #F0F0F0 !important;
}
.activeBon {
  background: #CAFFC1 !important;
  color: #666 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
